@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}


/* Login page*/

.login-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 40px;
    /* background-color: #f5f5f5; */
    /* height:100%; */
    width: 100%;
    align-content: center;
}

.login-title {
    align-self: center;
    padding-bottom: 20px;
}

.login-subtitle {
    align-self: center;
    padding-bottom: 114px;
}

.login-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

    .form-signin .checkbox {
        font-weight: 400;
    }

    .form-signin .form-control {
        position: relative;
        box-sizing: border-box;
        height: auto;
        padding: 10px;
        font-size: 16px;
    }

        .form-signin .form-control:focus {
            z-index: 2;
        }

    .form-signin input {
        margin-bottom: 5px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

        .form-signin input[type="password"] {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
.grid-container {
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
}

.grid-item {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    flex-basis: auto;
    margin-right: auto;
    margin-left: auto;
}

.my-brand {
    color: #FFFFFF;
    text-align: left;
    font-family: serif, Arial, Helvetica, sans-serif;
    font: bold 700;
    position: relative;
    margin-left: 100px;
}

.my-title {
    font-size: 4.2rem;
    font-weight: 600;
    display: block;
    position: relative;
    margin-left: auto;
}

.my-subtitle {
    font-size: 1.313rem;
    max-width: 500px;
    display: block;
    position: relative;
    margin-left: initial;
}

.my-subtitle-2 {
    font-size: 1.313rem;
    max-width: 500px;
    margin-left: 150px;
    margin-right: auto;
}

.ant-menu ant-menu-sub ant-menu-light ant-menu-vertical ant-menu-hidden {
    border-radius: 10px;
    box-shadow: 1px 1px 6px 1px black;
}

.my-main {
    background-color: #FFFFFF;
    position: relative;
    z-index: 3;
}

.my-main-raised {
    margin: -60px 30px 0px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.parallax {
    background-color: aliceblue;
    background-image: url("../images/back.jpg");
    background-position: 50% 50%;
    font-family: 'Microsoft Tai Le';
    border: 0;
    height: 90vh;
    margin: 0;
    display: flex;
    padding: 0;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.33) inset;
    max-height: 1000px;
    align-items: center;
    background-size: cover;
    background-position: center center;
}
.mat-drawer-container-responsive {
    display: flex;
    flex-direction: row;
}

    .mat-drawer-container-responsive .mdc-drawer {
        width: unset !important;
        position: relative;
    }

        .mat-drawer-container-responsive .mdc-drawer.mdc-drawer--open:not(.mdc-drawer--closing) + .mdc-drawer-app-content {
            margin-left: unset !important;
            position: relative;
            flex: 1;
        }